page-yunovelbook {
    .content{text-align: center;}
    ion-content {
        background: rgb(149, 230, 103) !important;  
    }
    ion-item {
        background: rgb(217, 243, 202) !important;  
    }
}
